<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navcolor bg-light" id="bg-light">
    <div class="container-fluid">
      <img class="login navbar-brand" src="https://i.imgur.com/eYhbeb7.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <% if (user) { %>
        <ul class="nav justify-content-center">
          <li class="nav-item">
          <a aria-current="page" href="/users" class="nav-link active navcolor"<%- title === 'HOME' ? 'class="active"' : '' %>>HOME</a>
          </li>
        <a href="/exercises" class="nav-link navcolor"<%- title === 'All EXERCISES' ? 'class="active"' : '' %>>All WORKOUTS</a>
        <li class="nav-item">
        <a href="/exercises/new" class="nav-link navcolor"	<%- title === 'Add Exercise' ? 'class="active"' : '' %>>ADD EXERCISE</a>
         </li>
        <a href="/foods" class="nav-link navcolor"<%- title === 'All EXERCISES' ? 'class="active"' : '' %>>All NUTRITION</a>
        <li class="nav-item">
        <a href="/foods/new" class="nav-link navcolor" <%- title === 'Add Nutrition' ? 'class="active"' : '' %>>ADD NUTRITION</a>
        </li>
        <li class="nav-item">
        <img src="<%= user.avatar %>" alt="avatar" referrerpolicy="no-referrer" id="avatarpicture"> <%= user.name %><a href="/logout" class="nav-link navcolor"> LOG OUT</a>
        <% } else { %>
          <!-- add user name in navbar -->
          <a href="/auth/google" class="nav-link login navcolor">LOG IN&nbsp;<img src="https://i.imgur.com/eYhbeb7.png"></a>
          <% } %>
        </li>
        </div>
      </div>
  </nav>
  <h1 class="centerpage"><%= title %></h1>
  <main>
  