<%- include('../partials/header') %>
<h3>Edit Date <%= food.date %></h3>
<h3>Edit Food Name #<%=food.foodName %></h3>
<h3>Edit Meal Number <%= food.mealNumber %></h3>
<h3>Edit Servings <%= food.satiety %></h3>

<form action="/foods/<%=food._id%>?_method=PUT" method="POST" id="new-form">
    <Label>Edit Date</Label>
    <input type="datetime-local" name="date" value="<%= food.date %>">
    <Label>Food Name</Label>
    <input type="text" name="foodName" value="<%= food.foodName %>">
    <Label> Number of Meals</Label>
    <input type="number" name="mealNumber" value="<%= food.mealNumber %>">
    <Label>Satiety</Label>
    <input type="number" name="satiety" value="<%= food.satiety %>">
    <Label>Discription</Label>
    <input type="text" name="disc" value="<%= food.disc %>">
    <br>
    <input type="submit" value="SAVE A WORKOUT">
</form>
<%- include('../partials/footer') %>
