<%- include('../partials/header') %>
<div class="centerpage">
<form action="/foods/<%=food._id%>?_method=PUT" method="POST" id="new-form">
    <Label>User Reporting</Label>
    <input type="text" name="foruser" value="<%= food.foruser %>" required>
    <Label>Edit Date</Label>
    <input type="datetime-local" name="date" value="<%= food.date %>"required>
    <Label>Food Name</Label>
    <input type="text" name="foodName" value="<%= food.foodName %>" required>
    <Label> Number of Meals</Label>
    <input type="number" name="mealNumber" value="<%= food.mealNumber %>" required>
    <Label>Satiety</Label>
    <input type="number" name="satiety" value="<%= food.satiety %>" required>
    <Label>Discription</Label>
    <input type="text" name="disc" value="<%= food.disc %>" required>
    <br>
    <input type="submit" value="SAVE A WORKOUT">
</form>
</div>
<%- include('../partials/footer') %>
