<%- include('../partials/header') %>
<table class="table">
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Exercise Date</th>
            <th>Exercise Repetitions </th>
            <th>Exercise Resistance </th>
            <th>Rate of Perceived Exertion</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody class="table table-striped">
        <% exercises.forEach(function(e) { %>
          <tr>
            <td><%= e.name %></td>
            <td><%= e.date %></td>
            <td><%= e.reps %></td>
            <td><%= e.rpe %></td>
            <td><%= e.resistance %></td>
            <td><a href="/exercises/<%=e.id%>">DETAILS</a></td>
          </tr>
        <%}); %>
        <!-- place index information here -->
    </tbody>
</table>
<%- include('../partials/footer') %>