<%- include('../partials/header') %>
<sectio id="new-form">
    <div>User</div>
    <div><%= user.name %></div>
    <div>Exercise</div>
    <div><%= exercise.name %></div>
    <div>Date</div>
    <div><%= exercise.date %></div>
    <div>Repetitions</div>
    <div><%= exercise.reps %></div>
    <div>Resistance</div>
    <div><%= exercise.resistance %></div>
    <a href="/exercises/<%= exercise._id %>/edit">Edit Exercise</a>
    
    <form action="/exercises/<%= exercise._id%>?_method=DELETE" 
         method="POST">
         <button type="submit">Delete</button>  
    </form>

    <% if (user) { %>
     <form action="/exercises/<%= exercise._id %>/comments" method="POST" >
     <label>Comments</label>
     <textarea name="content"></textarea>
     <label>Duration:</label>
     <input type="number" name="duration">
     <button type="submit" value="">Add a Comments</button>
    </form>
   <% } else { %>
   <br>
    <h5>Not logged in</h5>
    <% } %>

    <% if (exercise.comments.length) { %>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            <% exercise.comments.forEach(function(c) { %>
              <tr>
                <td class="review-user"><img src="<%= c.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= c.userName %></td>
                <td><%= c.content %></td>
                <td><%= c.duration %></td>
                <td>
                    <% if ( user?._id.equals(c.user) ) { %>
                    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
              </tr>
              <% }); %>
              <tr>
                <td colspan="3"></td>
              </tr>
          </tbody>
        </table>
      <% } else { %>
        <h5>No comments yet</h5>
      <% } %>
      <br>
</section>
<%- include('../partials/footer') %>